.rules {
    margin: 20px 0;
}

.rules ul li {
    margin-left: 50px;
}

.rules p,
ul {
    margin-bottom: 15px;
}

.rules ul li {
    line-height: 1.5;
}

.rules span {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 5px;
}
